{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
  <h5>People that you are in your class</h5>
  <p>These people are the ones that you can message:</p>
</div>

  <form class="col s12 center-align">
    <div class="input-field col s12">
    <select name="course_select">
      <option value="" disabled selected>Choose your option</option>
      {% for course in courses %}
        <option value="{{ course.id }}">{{ course.title }}</option>
      {% endfor %}
    </select>
    <label>Select from course</label>
    </div>

      <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: rgb(43, 187, 173);">Submit
        <i class="material-icons right">send</i>
      </button>

    
  </form>

<div class="row">
{% for person in students.enrolled.all %}
  <div class="col s12 m4">
      <div class="profile-container">
        <div class="header">
          {% if person.picture %}
            <img src="{{ person.picture.url }}" class="profile-pic">
          {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="profile-pic">
          {% endif %}
        </div>
        <div class="profile-info">
          <h2>{{ person.get_full_name }}</h2>
          <div class="info-label">Username</div>
          <div class="info-value">@{{ person.username }}</div>
          <div class="info-label">Mail</div>
          <div class="info-value">{{ person.email }}</div>
          <a href="{% url 'new-conversation' person.username %}" class="waves-effect waves-light btn" style="background-color: rgb(43, 187, 173);"><i class="material-icons right">send</i>Send a message!</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}