
{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block banner %}

  <div class="profile-container">
    <div class="header">
      {% if profile.picture %}
        <img src="{{ profile.picture.url }}" class="profile-pic">
      {% else %}
        <img src="{% static 'img/no_avatar.jpg' %}" class="profile-pic">
      {% endif %}
    </div>
    <div class="profile-info">
      <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
      <div class="info-label">Username</div>
      <div class="info-value">@{{ profile.user.username }}</div>
      <div class="info-label">Mail</div>
      <div class="info-value">{{ profile.user.email }}</div>
    </div>
    <div class="option"><span><a href="{% url 'index' %}" style="color: rgb(22, 22, 22);"><i class="material-icons">dashboard</i>Dashboard</a></span></div>
    <div class="option">
      <span>
        {% if user.is_authenticated and user == profile.user %}
          <a href="{% url 'edit-profile' %}" style="color: rgb(22, 22, 22);"><i class="material-icons">edit</i>Edit profile</a>
        {% endif %}

      </span>
    </div>
    <div class="option"><span><a href="{% url 'login' %}" style="color: rgb(22, 22, 22);"><i class="material-icons">power_off</i>Log out</a></span></div>
  </div>


{% endblock %}

